<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Face_Web_Module" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Smartpunch\Face_Recognize_Web\pythonProject1\.venv\Scripts\python.exe|D:\Smartpunch\Face_Recognize_Web\pythonProject1\.venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
<appSettings>
    <add key="WSGI_HANDLER" value="facematch.app" />
    <add key="PYTHONPATH" value="D:\Smartpunch\Face_Recognize_Web\pythonProject1" />
  </appSettings>
</configuration>
